@model IEnumerable<WebApplicationStudentd.Models.StudentCourses>

@{
    ViewData["Title"] = "StudentCourses";
}

<h1>
   @ViewBag.CourseName
</h1>

<p>
    <a asp-action="AddStudent" asp-route-id="@ViewBag.CourseId">Add Student</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Students)
            </th>
            <th>
 
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Students.Name)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>

